
body {
  font-family: "Bebas Neue", "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100vh;
  width: 100vw;
  margin-top: 0px;
  padding: 0px;
  overflow: hidden;
}

h1 {
  margin: 0;
}
